[[source]]
url = 'https://pypi.python.org/simple'

[requires]
python_version = '3.8'

[packages]
pyyaml = '*'
requests = '*'

[dev-packages]
rope = '==0.17.0'
pylint = '==2.5.2'
yapf = '==0.29.0'
mypy = '== 0.780'
